body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4d04e;
  width: 100%;
  height: 100vh;
  font-family: "Figtree medium", Courier, monospace;
}
h1 {
  font-size: 29px;
  font-stretch: condensed;
}
h3 {
  background-color: #f4d04e;
  border: 1px solid #f4d04e;
  border-radius: 4px;
  width: 82px;
  height: 29px;
  padding: 4px 12px;
  text-align: center;
}
.mainContainer {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  width: 384px;
  height: 522px;
  padding: 24px;
}

.pub {
  font-weight: 600;
}

.typeText {
  font-size: 14px;
}
.creds {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
}
.avatar {
  width: 32px;
  height: 32px;
  padding-right: 24px;
  font-weight: bold;
}

.author {
  font-weight: bold;
}
.mainImg {
  border-radius: 10px;
  width: 100%;
}

.attribution {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .mainContainer {
    width: 75%;
    margin-left: -30px;
  }
}
